#currentMonth {
    min-width: 100px; /* 최소 너비 설정 */
    display: inline-block; /* 인라인 블록 요소로 설정하여 텍스트의 길이가 바뀌지 않도록 함 */
    text-align: center;
}


#next, #prev {
    cursor: pointer;
}

.basic-calendar-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.basic-calendar-details.show {
    max-height: 500px; /* 콘텐츠의 높이에 맞게 조정하세요 */
}

.modal-body {
    max-height: 70vh; /* 모달 높이의 최대값 설정 */
    overflow-y: auto; /* 필요한 경우에만 스크롤 표시 */
}


.expanded {
    max-height: 1000px; /* 내용이 추가될 때 모달의 최대 높이 */
}